.heading {
  margin-bottom: 20px;
  font-size: 24px;
}

.shortcuts {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.row {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: space-between;

  /* & .label {
  } */

  & .divider {
    flex-grow: 1;
    height: 1px;
    background-color: #777;
  }

  & .keys {
    display: flex;
    column-gap: 8px;
    align-items: center;
  }
}

.key {
  padding: 6px 8px;
  border: 1px solid #777;
  border-radius: 4px;
}

.icon {
  width: 16px;
  height: 16px;
}
